<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mascota.user">

    <application android:theme="@style/Theme.Mascota">
        <activity
            android:name=".ui.view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.view.login.LoginActivity"
            android:exported="false" />
    </application>

</manifest>