<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mascota.prepare">

    <application android:theme="@style/Theme.Mascota">
        <activity
            android:name=".ui.view.PrepareActivity"
            android:exported="true" />
    </application>

</manifest>